.subtitle--bg {
	color: #000;
	padding-left: 10px;
	line-height: 45px;
}
.subtitle--bg span {
	display: inline;
	background-color: rgba(230, 229, 236, 0.8);
	box-shadow: -10px 0 0 rgba(230, 229, 236, 0.8), 10px 0 0 rgba(230, 229, 236, 0.8);
	padding: 10px 0;
	color: #888;
}

.group:hover .group-hover\:block {
  display: block !important;
  }

  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(176,	183,	198, 0.95);
    display: table;
    transition: opacity 0.3s ease;
  }
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  .modal-container {
    overflow-y: auto;
    overflow-x: hidden;

    margin: 0px auto;
    padding: 20px 10px;
    transition: all 0.3s ease;
  }
  .modal-body {
    width: 98%;
    max-width: 650px;
    margin: 10px 0;
  }
  .modal-enter {
    opacity: 0;
  }
  .modal-leave-active {
    opacity: 0;
  }
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
