.subtitle--bg {
	color: #000;
	padding-left: 10px;
	line-height: 45px;
}
.subtitle--bg span {
	display: inline;
	background-color: #e6e5ec;
	box-shadow: -10px 0 0 #e6e5ec, 10px 0 0 #e6e5ec;
	padding: 10px 0;
	color: #888;
}
